@font-face {
    font-family: "merona";
    src: url("../Font/BinggraeTaom-Bold.ttf");
}

.foot_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
    font-family: "merona";
    font-size: 1.5em;
}

.madeby {
    margin-bottom: 30px;
}