@font-face {
    font-family: "silombol";
    src: url("../Font/SilomBol.ttf");
}

.item_detail {
    position: absolute;
    background-color: darkgrey;
    border-radius: 5px;
    max-width: 190px;
    min-width: 190px;
    z-index: 9999;
    padding: 15px;
}

.item_name {
    font-family: "silombol";
    font-size: 20px;
    text-align: center;
}

.item_recipes_recipe {
    /* 위, 오른쪽, 아래 왼쪽 */
    padding: 15px 0px 15px 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-bottom: solid 1px #444444;
}

.item_recipes_recipe:last-child {
    border-bottom: none;
}

.item_recipes_recipe_img {
    padding: 1px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    image-rendering: pixelated;
}

.no_recipe_text {
    padding: 20px;
    text-align: center;
}