.item_list_wrap {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 3px solid #F8CA01;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0;
    padding: 5px;
    min-width: 100%;
}

.item_img {
    cursor: pointer;
    image-rendering: pixelated;
}

.item {
    position: relative;
}