@font-face {
    font-family: "merona";
    src: url("../Font/BinggraeTaom-Bold.ttf");
}

.title_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 30px;
}

.title {
    font-family: "merona";
    font-size: 60px;
}

.subtitle {
    margin-top: 20px;
    font-size: 20px;
    font-family: "merona";
}